* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
}

.sentinel {
  background-color: skyblue;
  height: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: skyblue;
  padding: 2rem;
}

.stuck {
  position: sticky;
  top: 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  color: #fff;
  transition: all 0.3s;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 90%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
  padding: 50px;
  margin: 50px 0;
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.content {
  color: #999ea9;
  line-height: 2rem;
  text-align: justify;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: #fff;
  background-color: skyblue;
}

@media screen and (min-width: 768px) {
  section {
    width: 60%;
  }
}